
.new {
	animation-duration: 0.5s;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	color: red;
	font-style: italic;
	font-weight: bold;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.meauthor {
	color: #555555;
	font-weight: bold;
}

.paper_title {
	font-size: 1.1em;
	font-weight: bolder;
}

.video_ico {
	width: 1.2em;
	height: 1.2em;
	margin-top: -0.4em;
	margin-left: 0.4em;
}

.header_ref {
	padding-top: 45px; 
	margin-top: -40px;
}

.header_border {
	background-color: #e5e5e5;
	border-radius: .5em;
	padding: 0.1em 0.5em;
	margin: 0em -.25em 0.5em -.25em;
	font-weight: bold;
	text-align: center;
}

.skillsText {
	text-align: right;
	padding: 0px 10px 0px;
	/*width: 10%;*/
}

.skillsBar {
	width: 15%;
}

div.rating-circle-full {
      width: 14px;
      height: 14px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #6699ff;
      display: inline-block;
}

div.rating-circle-empty {
      width: 14px;
      height: 14px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #eaeaea;
      display: inline-block;
}

.wrapper { 
  /*border : 2px solid #000; */
  /*overflow:hidden;*/
}

.wrapper div {
   /*min-height: 200px;*/
   /*padding: 10px;*/
}
#one {
  /*background-color: gray;*/
  float:left; 
  margin-right:2em;
  /*width:350px;*/
  /*border-right:2px solid #000;*/
}
#two { 
  /*background-color: white;*/
  overflow:hidden;
  /*margin:10px;*/
  /*border:2px dashed #ccc;*/
  /*min-height:170px;*/
  min-width: 450px;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    margin-bottom: 1em;
    width:auto;
    /*border:0;*/
    /*border-bottom:2px solid #000;    */
  }
}